.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 14rem;
    max-height: 90px;
    margin-right: 0.8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #3c3c3c;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    padding: .2em .8em;
} 

.navbar li:hover {
    color: #604fff;
    border-bottom: 5px solid #604fff;
}

.navbar li:hover > a{
    color: #604fff;
}