.form_container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 15px;
}

.form_container h1 {
    text-align: center;
}

.form_container form input[type='submit']{
    border-radius: 8px;
    border: 1px solid #000;
    color: #000;
    min-width: 100px;
    min-height: 2.5em;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: .5s;
}

.form_container form input[type='submit']:hover{
    color: #FFF;
    background-color: #000;
}

.form_container p {
    margin-top: 1em;
}

.form_container p a {
    font-weight: bold;
    color: #7465FF;
}