#manager_btn_pagination {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.manager_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.manager_header h1 {
  margin: 0;
}

.manager_header a {
  text-decoration: none;
  background-color: #604fff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  border: 2px solid #604fff;
}

.manager_header a:hover {
  background-color: transparent;
  color: #604fff;
}

.manager_container {
  display: flex;
  flex-direction: column;
}

.manager_row {
  border-bottom: 1px solid #604fff;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.manager_row .bold {
  margin-bottom: 1em;
}

.manager_row p {
  margin-bottom: 1em;
}

.manager_row .actions {
  margin: 0 auto;
}

.manager_row  span {
  min-width: 100px;
}

.actions {
  margin-left: auto;
}

.actions a,
.actions button {
  text-decoration: none;
  color: #604fff;
  border: 2px solid #604fff;
  border-radius: 5px;
  padding: 7px 12px;
  background-color: #fff;
  margin-left: 1em;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}

.actions a:hover,
.actions button:hover {
  background-color: #604fff;
  color: #fff;
}