.footer_Container {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #604fff;
    color: #fff;
    text-align: center;
}

.footer_Container .logo_footer {
    margin-left: 5em;
    max-width: 100px;
}

.footer_Container .content_footer {
    margin-right: 5em;
}

.footer_Container .content_footer h3 {
    font-size: 1.7em;
    color: #fff;
}

.footer_Container .content_footer h4 {
    margin-top: .3em;
    font-size: 1.2em;
    color: #00FFBE;
}

.footer_Container .content_footer p {
    margin: .8em 0;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
}

#btn_footer{
    margin-top: 10em;
    padding: .7em;
    text-decoration: none;
    color: #666;
    background-color: #fff;
    border-radius: 7px;
    transition: .3s;
}

#btn_footer:hover {
    background-color: rgb(204, 195, 195);
}

@media (max-width: 810px){
    .footer_Container {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .footer_Container .logo_footer{
        width: 450px;
        margin: 0;
    }

    .logo_footer img {
        margin-top: 1em;
        width: 100%;
    }

    .footer_Container .content_footer{
        margin: 3em 0;
    }
}